#p1{
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-image:src="https://www.kinder.com/in/sites/kinder_in/files/2023-09/range.png?t=1727707218"; 
}
#h1{
    width: 300px;
    padding: 20px;
    margin: 20px;
    font-size: 40px;
}
/* #i1{
    width: 300px; 
    padding: 20px;
    margin: 20px; 
} */