body{
    background-color: rgb(200, 227, 230);
}
#p1  {
    width:300px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: #d0fada;
}
.flexcontainer{
    display: flex;
    background-color: dodgerblue;
    
}
.flexcontainer>div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    order: 5px;
}
  span.a{
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color:yellow ;
}
span.b{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}
span.c{
    display: block;
    width:100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}
#a1{
    background-color:rgb(0, 90, 87);
}
#b1{
color: rgb(127, 178, 255);
}
.a1{
color: rgb(127, 178, 255);
}
.a1{
color: rgb(127, 178, 255);
} 
.a2{
    color: blue;
}



